@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "~office-ui-fabric-core/dist/sass/References.scss";

// Set greyscale variables
$ms-color-neutralPrimaryAlt: #3b3a39;
$ms-color-neutralSecondary: #605e5c;
$ms-color-neutralSecondaryAlt: #8a8886;
$ms-color-neutralTertiaryAlt: #c8c6c4;
$ms-color-neutralLight: #edebe9;

// Set accent color variables
$ms-color-redDark: #a4262c;
$ms-color-greenLight: #bad80a;
$ms-color-red: #d13438;

// Set hover variable
$box-shaddow: 0px 2px 5px rgba(0, 0, 0, 0.45);

.controlWrapper {
  display: "flex";
  flex-wrap: "wrap";

  .controlRow {
    width: 100vw;
  }
}

.filterIcon {
  font-size: 1.5em;
  color: $ms-color-neutralTertiaryAlt;
}

.exampleToggle {
  display: "inline-block";
  margin-bottom: "10px";
  margin-right: "30px";
}

.selectionDetails {
  margin-bottom: "20px";
}

.control {
  margin: "0 30px 20px 0";
  max-width: "300px";
}

.detailsList {
  height: 100%;
}

.pagination {
  width: 100%;
  padding: 8px 0px;
  margin: 0px;
  text-align: right;
  float: right;

  .paginationCol {
    float: right;
    padding: 0px;
    margin: 0px;
  }
}
